//Variables

$ancho-box:100%;
$alto-box:290px;

$alto-card:350px;
$ancho-card:300px;

$colores:(
    fondo:#16161a,
    letra:#94a1b2,
    titulares:#fffffe,
    barra:#7f5af0,
    cartas:#242629,
    boton:#7f5af0,
    boton_color:#fffffe,

);
