@use '_commons' as c;

*{
    margin: 0;
    padding: 0;
} 

h1{
    font-size: 60px;
    a{
        color: map-get(c.$colores,"titulares");
        text-decoration: none;
    }
}


body{
    width: 100%;
    height: 90vh;
    nav{
        font-size: 40px;
        color:map-get(c.$colores,"nav");
            ul{
                list-style: none;
                    li{
                    display: inline-block;
                    position: relative;
                        a{
                        text-align: center;
                        color:map-get(c.$colores,"nav");
                            & :hover{
                            color: map-get(c.$colores,"resaltado");
                            }
                        }
                    }
            }
    }
    
}

h2,h3{
    @extend h1 ;
    color: map-get(c.$colores,"titulares");
}

//Saco la linea del hipervinculo de los botones
div a {
    text-decoration: none;
}

img{
    object-fit: cover;
}
//Utilizo clases para pisar los colores de
.color__fondo{
    background-color:map-get(c.$colores,"fondo") ;
}
.color__letra{
    color:map-get(c.$colores,"letra") ;
}
.color__navbar{
    background-color: map-get(c.$colores,"barra");
}




.imagen{
    object-fit: cover;
}

.box__container__mapa{
    width: 100%;
    height: 100%;
    padding: 10px;
    
}
.box__container__mapa__1{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 10px;
    
    
    
}
.box__mapa__1{
    height: c.$alto-box ;
    object-fit: cover;

}
.box__mapa__1-especial{
    @extend.box__mapa__1;
    display: none;

}


.box__container__mapa__2{
    @extend .box__container__mapa__1;
    height: 200px;
    align-content: center;
}
.box__mapa__2{
    @extend.box__mapa__1;
}


.box__container__mapa__3{
    @extend .box__container__mapa__1;
}
.box__mapa__3{
    @extend .box__mapa__1;
}
.box__mapa__3-especial{
    @extend.box__mapa__1-especial;
}


//

.box__container__modos__1{
    @extend.box__container__mapa__1;
    flex-direction: column;
    margin-bottom: 30px;
    
}

.box__container__modos__2{
    @extend.box__container__mapa__1;
    flex-direction: column-reverse;

}

.box__modos{
    padding: 10px;
    margin: 10px;
}
.modos__items{
    background-color: map-get(c.$colores,"cartas");
    border-radius:3px ;
    width: 100%;
    height: fit-content;

}


.encabezado{
    grid-area: head;
}


.armas{
    &__items{
        background-color: map-get(c.$colores,"cartas") ;
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
        height: c.$alto-card;
        width: c.$ancho-card;

    
    }
    &__fusiles{
        grid-area: fusiles;
        align-content: center;
        gap:10px;
        padding-bottom: 30px;
        text-align: center;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    }

    &__subfusiles{
        @extend.armas__fusiles;
        grid-area:subfus;
        &__container{
            @extend.armas__fusiles__container;
        }
    }

    &__escopetas{
        @extend .armas__fusiles;
    grid-area:escopetas;

    &__container{
        @extend.armas__fusiles__container;
    }
    }

    &__franco{
        @extend.armas__fusiles;
    grid-area: franco;

    &__container{
        @extend.armas__fusiles__container;
    }
    }

    &__ametralladoras{
        @extend.armas__fusiles;
        grid-area:ligera;
    
        &__container{
            @extend.armas__fusiles__container;
        }
    }

    &__medioalc{
        @extend.armas__fusiles;
        grid-area: alc;
    
        &__container{
            @extend.armas__fusiles__container;
        }
    }

    &__pistolas{
        @extend.armas__fusiles;
        grid-area:pistolas;
    
        &__container{
            @extend.armas__fusiles__container;
        }
    }
    
}


.boton{
    background-color: map-get(c.$colores , "boton");
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    color: map-get(c.$colores,"boton_color");
    align-content: center;


    
}


#contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8,2fr);
    grid-template-areas: 
    
    "head"
    "fusiles"
    "subfus"
    "escopetas"
    "franco"
    "ligera"
    "alc"
    "pistolas"
    ;
}


#letra{
    font-family: 'Anton', sans-serif;
}

//Media query para cuando este en formato escritorio asi aparece la imagen restante y la letra se agranda
@media only screen and (min-width:1280px){
    .box__container__mapa__1{
        padding: 10px;
        flex-direction: row;
    }

    .box__mapa__1{
        width: calc(c.$ancho-box/3);
        height:c.$alto-box;
        &-especial{
            display: flex;
        }
    }
    .box__mapa__2{
        @extend.box__mapa__1;
    }

    .box__mapa__3{
        @extend.box__mapa__1;
        &-especial{
            @extend.box__mapa__1-especial
        }
    }

    p{
        font-size:x-large;
    }

    .box__container__modos{
        flex-direction: row;
    }
    
    .modos__items{
        height: c.$alto-card;

    }


    #container{
        display: grid;
        grid-template-columns: repeat(3,33.33%);
        grid-template-rows: repeat(8,3fr);
        grid-template-areas: none
        
        "head head head"
        "fusiles fusiles fusiles"
        "subfus subfus subfus"
        "escopetas escopetas escopetas";
    }
}