@use '_commons' as c;

*{
    margin: 0;
    padding: 0;
} 

h1{
    font-size: 60px;
    a{
        color: map-get(c.$colores,"titulares");
        text-decoration: none;
    }
}

body{
    width: 100%;
    height: 90vh;
    nav{
        font-size: 40px;
        color:map-get(c.$colores,"nav");
            ul{
                list-style: none;
                    li{
                    display: inline-block;
                    position: relative;
                        a{
                        text-align: center;
                        color:map-get(c.$colores,"nav");
                            & :hover{
                            color: map-get(c.$colores,"resaltado");
                            }
                        }
                    }
            }
    }
    
}

h2,h3{
    @extend h1 ;
}


//Utilizo clases para pisar los colores de
.color__fondo{
    background-color:map-get(c.$colores,"fondo") ;
}

.color__letra{
    color:map-get(c.$colores,"letra") ;
}

.color__navbar{
    background-color: map-get(c.$colores,"barra");
}

.box__container__mapa__1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    gap: 10px;


}
.box__mapa__1{
    width: calc(c.$ancho-box/3);
    height: c.$alto-box ;

}

.box__container__mapa__2{
    @extend .box__container__mapa__1;
}

.box__container__mapa__3{
    @extend .box__container__mapa__1;
}

.box__mapa__3{
    @extend .box__mapa__1;
}
#letra{
    font-family: 'Anton', sans-serif;
}