@use '_commons' as c;

footer{
    height: 10vh;
    width: 100%;
    nav{
            ul{
                li{
                    a{
                        text-align: center;
                        color: #fffffe; 
                        text-decoration: none;
                    }
                }
            }
    }
}

.Pie_de_pagina{ 
    text-align: left;
}

.redes{
    &__twitter{
        width: c.$alto-redes;
        &:hover{
            transform: scale(1.4);
        }
    }
    &__instagram{
        width: calc(c.$alto-redes + 10px);
        &:hover{
            transform: scale(1.4);
        }
    }
    
}

@media only screen and (min-width:1280px){
    .Pie_de_pagina{
        padding: 15px;
    }
}