@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: 60px;
}
h1 a, h2 a, h3 a {
  color: #fffffe;
  text-decoration: none;
}

body {
  width: 100%;
  height: 90vh;
}
body nav {
  font-size: 40px;
}
body nav ul {
  list-style: none;
}
body nav ul li {
  display: inline-block;
  position: relative;
}
body nav ul li a {
  text-align: center;
}
h2, h3 {
  color: #fffffe;
}

div a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.color__fondo {
  background-color: #16161a;
}

.color__letra {
  color: #94a1b2;
}

.color__navbar {
  background-color: #7f5af0;
}

.imagen {
  -o-object-fit: cover;
     object-fit: cover;
}

.box__container__mapa, .box__container__modos {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.box__container__mapa__1, .box__container__modos__1, .box__container__modos__2, .box__container__mapa__3, .box__container__mapa__2 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin: 10px;
}

.box__mapa__1, .box__modos__2, .box__modos__1, .box__mapa__3, .box__mapa__2, .box__mapa__1-especial, .box__mapa__3-especial {
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box__mapa__1-especial, .box__mapa__3-especial {
  display: none;
}

.box__container__mapa__2 {
  height: 200px;
  align-content: center;
}

.box__container__modos {
  padding: 0;
}

.box__container__titulos {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: 10px;
}

.box__container__modos__1, .box__container__modos__2 {
  margin: 20px;
}

.box__modos__1 {
  height: 390px;
}
.modos__items {
  background-color: #242629;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  align-content: center;
}

.encabezado {
  grid-area: head;
}

.armas__items {
  background-color: #242629;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  height: 350px;
  width: 300px;
}
.armas__fusiles, .armas__pistolas, .armas__medioalc, .armas__ametralladoras, .armas__franco, .armas__escopetas, .armas__subfusiles {
  grid-area: fusiles;
  align-content: center;
  gap: 10px;
  padding-bottom: 30px;
  text-align: center;
}
.armas__fusiles__container, .armas__pistolas__container, .armas__medioalc__container, .armas__ametralladoras__container, .armas__franco__container, .armas__escopetas__container, .armas__subfusiles__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.armas__subfusiles {
  grid-area: subfus;
}
.armas__escopetas {
  grid-area: escopetas;
}
.armas__franco {
  grid-area: franco;
}
.armas__ametralladoras {
  grid-area: ligera;
}
.armas__medioalc {
  grid-area: alc;
}
.armas__pistolas {
  grid-area: pistolas;
}
.boton {
  background-color: #7f5af0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  color: #fffffe;
  align-content: center;
}

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 2fr);
  grid-template-areas: "head" "fusiles" "subfus" "escopetas" "franco" "ligera" "alc" "pistolas";
}

#letra {
  font-family: "Anton", sans-serif;
}

@media only screen and (min-width: 1280px) {
  .box__container__mapa__1, .box__container__mapa__2, .box__container__mapa__3, .box__container__modos__1, .box__container__modos__2 {
    padding: 10px;
    flex-direction: row;
  }
  .box__container__mapa__2 {
    flex-direction: row;
    width: 100%;
    height: 390px;
  }
  .box__mapa__1, .box__mapa__1-especial, .box__mapa__2, .box__mapa__3, .box__mapa__3-especial, .box__modos__1, .box__modos__2 {
    width: 33.3333333333%;
    height: 290px;
  }
  .box__mapa__1-especial, .box__mapa__3-especial {
    display: flex;
  }
  p {
    font-size: x-large;
  }
  .box__modos__1 {
    width: 80%;
    height: 500px;
  }
  .modos__items {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
  }
  #container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(8, 3fr);
    grid-template-areas: none "head head head" "fusiles fusiles fusiles" "subfus subfus subfus" "escopetas escopetas escopetas";
  }
}
footer {
  height: 10vh;
  width: 100%;
}
footer nav ul li a {
  text-align: center;
  color: #fffffe;
  text-decoration: none;
}

.Pie_de_pagina {
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */